- id: 'presencia_cocina'
  alias: Notificafion Presencia Cocina
  trigger:
  - entity_id: binary_sensor.zigbee_puerta_cocina
    for: 00:00:01
    from: 'off'
    platform: state
    to: 'on'
  condition: 
  - condition: state
    entity_id: input_boolean.notify_telegram
    state: 'on'
  action:
  - data:
      message: "RIVAS => Movimiento en puerta cocina"
    service: notify.bot_to_rivas_group

- id: 'presencia_entrada'
  alias: Notificafion Presencia Entrada
  trigger:
  - entity_id: binary_sensor.0x00158d00034fb778_occupancy
    for: 00:00:01
    from: 'off'
    platform: state
    to: 'on'
  condition:
  - condition: state
    entity_id: input_boolean.notify_telegram
    state: 'on'
  action:
  - data:
      message: "RIVAS => Movimiento en puerta entrada"
    service: notify.bot_to_rivas_group    
- id: '1548543806868_2'
  alias: Notificafion Puerta Cocina
  trigger:
  - entity_id: binary_sensor.0x00158d0003d0c052_contact
    for: 00:00:01
    from: 'off'
    platform: state
    to: 'on'
  - entity_id: binary_sensor.0x00158d0003d0c052_contact
    for: 00:00:01
    from: 'on'
    platform: state
    to: 'off'
  condition: 
  - condition: state
    entity_id: input_boolean.notify_telegram
    state: 'on'
  action:
  - data:
      message: "{% if is_state('binary_sensor.0x00158d0003d0c052_contact', 'on') %}\n    RIVAS => Puerta cocina\
        \ abierta\n{% else %}\n     RIVAS => Puerta cocina cerrada\n{% endif %} \n"
    service: notify.bot_to_rivas_group

- id: '1548543806868_3'
  alias: Notificafion Puerta Entrada
  trigger:
  - entity_id: binary_sensor.0x00158d00032614ea_contact
    for: 00:00:01
    from: 'off'
    platform: state
    to: 'on'
  - entity_id: binary_sensor.0x00158d00032614ea_contact
    for: 00:00:01
    from: 'on'
    platform: state
    to: 'off'
  condition: 
  - condition: state
    entity_id: input_boolean.notify_telegram
    state: 'on'
  action:
  - data:
      message: "{% if is_state('binary_sensor.0x00158d00032614ea_contact', 'on') %}\n    RIVAS => Puerta entrada\
        \ abierta\n{% else %}\n     RIVAS => Puerta entrada cerrada\n{% endif %} \n"
    service: notify.bot_to_rivas_group
    
- id: '1548543806868_4'
  alias: Notificafion Activacion Notificaciones
  trigger:
  - entity_id: input_boolean.notify_telegram
    for: 00:00:01
    from: 'off'
    platform: state
    to: 'on'
  - entity_id: input_boolean.notify_telegram
    for: 00:00:01
    from: 'on'
    platform: state
    to: 'off'
  condition: []
  action:
  - data:
      message: "{% if is_state('input_boolean.notify_telegram', 'on') %}\n    RIVAS => Notificaciones activadas
        \ \n{% else %}\n     RIVAS => Notificaciones desactivadas\n{% endif %} \n"
    service: notify.bot_to_rivas_group
- id: '1569690957862_44'
  alias: Boton Activar notificaciones
  trigger:
  - entity_id: sensor.zigbee_button
    platform: state
    to: single
#  - entity_id: sensor.zigbee_button
#    platform: state
#    to: double
#  - entity_id: sensor.zigbee_button
#    platform: state
#    to: triple
#  - entity_id: sensor.zigbee_button
#    platform: state
#    to: quadruple
#  - entity_id: sensor.zigbee_button
#    platform: state
#    to: long_release
  condition: []
  action:
   - service: input_boolean.toogle
     data:
       entity_id: input_boolean.notify_telegram
#  - data_template:
#      message: '{%if trigger.to_state.state == "single" %} ¡Guapa!  {% elif trigger.to_state.state
#        == "double" %} ¡Te quiero! {% elif trigger.to_state.state == "triple" %} ¡Te
#        quiero mucho! {% elif trigger.to_state.state == "quadruple" %} ¿Quieres tema?
#        {% elif trigger.to_state.state == "long_release" %} Te quiero {{ trigger.to_state.attributes.duration
#        }} millones. {% else %}{% endif %}'
#    service: notify.bot_to_sara